li {
    list-style-type: none;
}
/* OVERALL GRID */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .7fr 8fr .1fr;
    height: fit-content;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #e7e8ec;
    color: rgb(37, 37, 37);
    font-family: 'Oswald', sans-serif;
    line-height: 2;
}

p {
    text-align: center;
}
/* HEADER CONTENT  */

header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    /* margin-bottom: 10px; */
}
nav {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color:rgb(37, 37, 37);
}

/* li {
    flex-grow: 4;
} */
/* #astro {
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
} */



.starter-visuals {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    top: 0; */
    /* width: 100%; */
}

#hopeful-animation {
    position: relative;
    z-index: 1;
    max-height: 100%;
    width: 100%;
    border-radius: 50px;
}

#sammy {
    width: 10%;
    position: absolute;
    z-index: 2;
    border: solid white;
    padding: 10px;
    border-radius: 50px;
}

.brand-statement {
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* MAIN SECTION CONTENT */

main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .6fr 2fr .3fr;
    /* margin-top: 10px; */
}

h1 {
    font-size: large;
    padding: 10px;
    text-decoration: underline;
    font-weight: bold;
    align-self: center;
}

.about-me {
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #96a6df;
    padding: 15px;
    margin-top: 30px;
    border-radius: 50px;
}

.skills {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    background-color: #96a6df;
    padding: 10px;
    margin-top: 30px;
    border-radius: 50px;
    text-align: center;
}

.logo-icons {
    height: 30px;
    border: solid black;
    border-radius: 10px;
}

.skills-statement {
    padding: 15px;
}

.projects {
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #96a6df;
    padding: 10px;
    margin-top: 30px;
    border-radius: 50px;
}

.proj-img {
    height: 200px;
    text-align: center;
    margin: 10px;
}

.project-section {
    background-color: #acb6da;
    margin: 20px;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
}

.contact-me {
    grid-row: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #96a6df;
    /* padding: 30px; */
    margin-top: 30px;
    border-radius: 50px;
}
input, textarea {
    margin: 5px;
}

footer {
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    display: flex;
    flex-direction: column;
}

input, textarea {
    font-family: 'Oswald', sans-serif;
}


@media only screen and (min-width: 1024px) {
    
    body {
        font-size: large;
        grid-template-rows: .5fr 3fr .3fr;
    }
    
    main {
        grid-template-rows: .1fr .1fr .2fr .1fr;
    }

    #sammy {
        width: 15%;
    }

    #about-me {
        padding: 30px;
    }

    .project-section {
        padding: 60px;
    }

}